<div
  style="
    display: grid;
    grid-template-columns: 40% 30% 30%;
    gap: 20px;
    align-items: center;
    text-align: center;
  "
>
  <!-- <div>
    <tui-pagination
      class="custom-pagination"
      [index]="index"
      [length]="length"
      (indexChange)="goToPage($event)"
    />
  </div> -->
  <div style="display: flex">
    <tui-icon icon="@tui.chevrons-left" (click)="onStartButton()" />
    <tui-icon icon="@tui.chevron-left" (click)="onPrevButton()" />
    <div style="display: flex; gap: 2px">
      <div
        *ngIf="selectedIndex > 0"
        style="
          border-radius: 50%;
          color: #009688;
          font-weight: 800;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        ...
      </div>
      <div
        *ngFor="let item of items.slice(getSliceRange(), selectedIndex + 5); let i = index"
        [ngClass]="{ selected: selectedIndex === i + getSliceRange()}"
        (click)="selectButton(i+getSliceRange())"
        [ngStyle]="{
          'border-radius': '50%',
          width: '30px',
          height: '30px',
          display: 'flex',
          'align-items': 'center',
          'justify-content': 'center',
        }"
      >
        <button
          style="
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            color: #009688;
            font-weight: 600;
          "
        >
          {{ item }}
        </button>
      </div>
      <div
        *ngIf="selectedIndex < items.length-5"
        style="
          border-radius: 50%;
          color: #009688;
          font-weight: 800;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        ...
      </div>
    </div>
    <tui-icon icon="@tui.chevron-right" (click)="onNextButton()" />
    <tui-icon icon="@tui.chevrons-right" (click)="onEndButton()" />
  </div>
  <app-custom-select
    (valueChanged)="onPageSizeChange($event)"
  ></app-custom-select>
  <div>
    <p>
      <span>1</span>-<span>{{ items.length }}</span> of
      <span>123455</span> items
    </p>
  </div>
</div>
