.active {
  background-color: #E8F5E9 !important;
}

.btn-spec-left {
  border-radius: 0 !important;
  border-top-left-radius: 10px !important;
}

.btn-spec-right {
  border-radius: 0 !important;
  border-top-right-radius: 10px !important;
}

.custom-icon-button::after{
  background-color: #009688;
}
