<body style="background: #f5f5f5">
  <section style="display: flex; margin-top: 30px">
    <app-custom-tabs [tabsData]="tabsData"></app-custom-tabs>
    <div style="width: 100%">
      <div style="width: 100%; background-color: #fff ; display: flex; justify-content: space-between;">
        <p style="margin: 0; padding: 20px; font-size: 24px; display: flex; justify-content: center; align-items: center;">
          <tui-icon icon="@tui.menu" style="font-size: 24px;"></tui-icon>
          <span style="color: #009688; text-transform: uppercase; font-weight: 600; margin-left: 5px;"> Quản lý nghiệp vụ thẻ</span>
        </p>
        <div style="display: flex; align-items: center; background-color: #f5f5f5; padding: 5px; margin-right: 45px;">
            <tui-icon icon="@tui.flower" style="font-size: 30px;"></tui-icon>
            <div style="margin-left: 10px; margin-top: 0; margin-bottom: 0;">
                <p style="margin: 0;">UAT_Lưu Hải Yến</p>
                <p style="margin: 0; color: #333;">Giao dịch khách hàng</p>
            </div>
        </div>
      </div>
      <div style="display: flex">
        <div style="background-color: #fff; width: 25%;">
          <div *ngFor="let item of menuData">
            <app-custom-menu
              [title]="item.title"
              [dataMenu]="item.listSubTitle ?? []"
            ></app-custom-menu>
          </div>
        </div>
        <div
          style="
            width: 100%;
            margin: 20px;
            padding: 20px;
            border-radius: 20px;
            background: #fff;
          "
        >
          <div class="custom-title">Mã sản phẩm</div>
          <div style="display: flex; justify-content: flex-end; padding: 0;">
            <app-custom-button name="Thêm mới" class="custom-btn-add"></app-custom-button>
          </div>
          <app-custom-table [rowData]="rowData" [colDefs]="colDefs"></app-custom-table>
        </div>
      </div>
    </div>
  </section>
</body>
<!-- <tui-root>
  <router-outlet></router-outlet>
</tui-root> -->
