<section style="display: flex; margin-top: 30px">
    <div
      style="
        width: 100%;
        margin: 20px;
        padding: 20px;
        border-radius: 20px;
        background: #fff;
      "
    >
      <div class="custom-title">Mã sản phẩm</div>
      <div style="display: flex; justify-content: flex-end; padding: 0">
        <app-custom-button
          name="Thêm mới"
          class="custom-btn-add"
        ></app-custom-button>
      </div>
      <app-custom-table
        [rowData]="rowData"
        [colDefs]="colDefs"
        [isPanigation]="false"
      ></app-custom-table>
    </div>
</section>
