::ng-deep [tuiAppearance][data-appearance="textfield"] {
  --t-shadow: none !important;
}

:host ::ng-deep [tuiWrapper][data-appearance="textfield"]::after {
  border: none !important;
}

.input-error {
    border: 1px solid red !important;
}

